#body {
    display: flex;
    width: 60%;
    margin: 50px auto; 
    background-image: url("./resources/images/leopart\ print.jpg");
    background-repeat: no-repeat; 
    background-size: cover;

}

#splash{
    justify-content: center;
    background-color: burlywood;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#start-btn {
    height: 100px;
    margin: 20px;
}

#play {
    color: cornsilk;
    font-weight: bold;
    font-size: x-large;
}


#button {
    background-color: #FFC300;
}

#margin {
    margin: 20px;
}